h2 {
    cursor: pointer;
    padding: 1em 0.35em;
    font-size: 1.35em;
    margin: 0;
 }
 .image-wrapper {
    margin: 0 auto 2em auto;
    width: 20%;
 }
 
 div {
    position: relative;
    padding: 2em;
    background: rgba(230, 230, 230, 1);
    border-bottom: 1px solid rgba(210, 210, 210, 1);


    ion-button {
       position: absolute;
       bottom: 10px;
       right: 20px;
    }
 }
 .active {
    display: block;
 }

 .inactive {
    display: none;
 }